.construction {
  background: linear-gradient(to bottom, #6f5c00c0, #4f3c00e0) !important;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.construction:hover {
  cursor: not-allowed;
  opacity: 0.8;
  transform: scale(0.96);
}
@media (prefers-color-scheme: light) {
  .construction {
    background: linear-gradient(to bottom, #ffdf00c0, #dfaf00e0) !important;
  }
}
